[package]
name = "palace-server-bin"
version = "0.1.0"
authors = ["Richard McCormack <brick@brick.codes>"]

[workspace]

[dependencies]
palace_server = { path = "palace_server" }

[profile.release]
lto = true
