[package]
name = "palace-server"
version = "0.1.0"
authors = ["Richard McCormack <rmccormack@ebsco.com>"]

[dependencies]
rocket = "0.3"
rocket_codegen = "0.3"
rand = "0.5"
snowflake = "1"
serde = "1"
serde_derive = "1"
serde_json = "1"
