[package]
name = "palace-server"
version = "0.1.0"
authors = ["Richard McCormack <rmccormack@ebsco.com>"]

[dependencies]
either = "1"
rand = { version = "0.5", features = ["i128_support"] }
serde = "1"
serde_derive = "1"
serde_json = "1"
ws = { git = "https://github.com/housleyjk/ws-rs" }
